// Monospace
@font-face {
	font-weight: 1 999;
	font-family: "Fira Code";
	font-display: swap;
	src: local("Fira Code"),
		local("FiraCode"),
		url("@xeho91/fonts/build/monospace/FiraCode.woff2") format("woff2");
}

// Sans-serif
@font-face {
	font-weight: 1 999;
	font-family: "Work Sans";
	font-display: swap;
	src: local("Work Sans"),
		local("WorkSans"),
		url("@xeho91/fonts/build/sans-serif/WorkSans.woff2") format("woff2");
}
@font-face {
	font-weight: 1 999;
	font-family: "Work Sans";
	font-style: italic;
	font-display: swap;
	src: local("Work Sans"),
		local("WorkSans"),
		url("@xeho91/fonts/build/sans-serif/WorkSans.italic.woff2") format("woff2");
}

// Serif
@font-face {
	font-weight: 1 999;
	font-family: "Fraunces";
	font-display: swap;
	src: local("Fraunces"),
		url("@xeho91/fonts/build/serif/Fraunces.woff2") format("woff2");
}
@font-face {
	font-weight: 1 999;
	font-family: "Fraunces";
	font-style: italic;
	font-display: swap;
	src: local("Fraunces"),
		url("@xeho91/fonts/build/serif/Fraunces.italic.woff2") format("woff2");
}

:root {
	--font_monospace: "Fira Code", monospace;
	--font_sans-serif: "Work Sans", sans-serif;
	--font_serif: "Fraunces", serif;
}
