// Monospace
@font-face {
	font-weight: 1 999;
	font-family: "Fira Code";
	font-display: swap;
	src: local("Fira Code"), local("FiraCode");
}

// Sans-serif
@font-face {
	font-weight: 1 999;
	font-family: "Work Sans";
	font-display: swap;
	src: local("Work Sans"), local("WorkSans");
}
@font-face {
	font-weight: 1 999;
	font-family: "Work Sans";
	font-style: italic;
	font-display: swap;
	src: local("Work Sans"), local("WorkSans");
}

// Serif
@font-face {
	font-weight: 1 999;
	font-family: "Fraunces";
	font-display: swap;
	src: local("Fraunces");
}
@font-face {
	font-weight: 1 999;
	font-family: "Fraunces";
	font-style: italic;
	font-display: swap;
	src: local("Fraunces");
}

:root {
	--font_monospace: "Fira Code", monospace;
	--font_sans-serif: "Work Sans", sans-serif;
	--font_serif: "Fraunces", serif;
}
